.home {
  .container {
    background-color: #14151c;
    height: 100%;
    padding-left: 85px;
    min-height: 100vh;

    .div {
      min-height: 70vh;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
      object-fit: cover;
      -webkit-mask-image: linear-gradient(to right, transparent 3%, #14151c);
    }
    .main-movie {
      color: white;
      position: absolute;
      top: 0vh;
      max-width: 50vw;
      width: 100%;

      div {
        padding-bottom: 30px;

        p {
        }
      }

      h1 {
        font-size: 44px;
      }
    }
    .category {
      color: white;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .container {
      .div {
        background-repeat: no-repeat;
        background-position: center;
      }
      .main-movie {
        max-width: 70vw;
        div {
        }

        h1 {
        }
      }
      .category {
      }
    }
  }
}
