.movie-preview {
  color: white;
  background-color: lightgrey;
  height: 255px;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;

  img {
    width: 250px;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
  }
}

@media screen and (max-width: 600px) {
  .movie-preview {
    width: 100px;

    img {
    }
  }
}
