.movie-preview {
  color: white;
  background-color: lightgrey;
  height: 255px;
  border-radius: 4px;

  position: relative;

  span {
    position: relative;
    img {
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .hover-preview {
    position: absolute;
    background-color: #14151c;
    z-index: 5;
    width: 300px;
    height: 355px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow-y: auto;

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    .details {
      p {
        text-align: center;
      }
      div {
        padding: 5px 15px;
        button {
          width: 100%;
        }
      }

      .overview {
        overflow-y: auto;
        height: 100%;
        padding: 5px;
      }
    }
  }
}
