.swiper {
  color: white;
  margin-top: 25px;

  img {
    object-fit: cover;
    height: 100%;
    background-position: center;
  }
}
@media screen and (max-width: 600px) {
  .swiper {
    width: 900px;
    img {
    }
  }
}
